In [1]:
#! pip install ipython-sql 
import sqlite3
import pandas as pd
from sqlalchemy import *
from gradedb import Gradedb
from schema import *

In [2]:
%load_ext sql
%sql sqlite:///gradedb.db
engine = create_engine("sqlite:///gradedb.db")

In [3]:
Stud_summary = text('''
SELECT 
    stu.universityid,
    stu.name AS 'Student Name',
    stu.email AS 'Student Email',
    COUNT(tk.title) AS 'Number of Assignments',
    ROUND(AVG(sc.value),2) AS 'Score'
  FROM Student stu
  LEFT JOIN Assignment asg ON asg.universityid = stu.universityid
  LEfT JOIN Task tk ON tk.taskid = asg.taskid
  LEFT JOIN Submission sb ON sb.assignmentid = asg.assignmentid
  LEFT JOIN EvaluationRequest er ON er.submissionid = sb.submissionid
  LEFT JOIN Evaluation ev ON ev.requestid = er.requestid
  LEFT JOIN EvaluationFinished ef ON ef.evaluationid = ev.evaluationid
  LEFT JOIN Scores sc ON sc.evaluationid = ev.evaluationid
  GROUP BY stu.universityid''')

In [5]:
Stud_summ_df = pd.read_sql(Stud_summary, engine)
Stud_summ_df

,universityid,Student Name,Student Email,Number of Assignments,Score
0,S0225853,James Morse,s0225853@vuw.leidenuniv.nl,3,7.00
1,S0416410,Marjorie Steele,s0416410@vuw.leidenuniv.nl,3,2.67
2,S1961057,Dominic Robinson,s1961057@vuw.leidenuniv.nl,3,8.00
3,S2204697,Diana Brown,s2204697@vuw.leidenuniv.nl,3,NaN
4,S4587398,Mary Bakley,s4587398@vuw.leidenuniv.nl,3,3.00